body {
    background:rgb(30,30,40);
    }
    .form {
    text-align: center;
    margin-top: 40px;
    max-width:420px;
    margin:50px auto;
    }
    #form1 input[type=text] {
    color:white;
    font-family: sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #CC6666;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
    }
    
    #form1 #fcontent {
    height: 100px;
    }
    #form1 input[type=submit] {
    color:white;
    font-family: sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: #CC6666;
    border:2px solid #CC6666;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
    }
    #form1 input[type="submit"]:hover {
    background:#CC4949;
    }
    h1 {
        text-align: center;
        color: rgb(240, 207, 207);
        font-size: 30px;
    }
    p {
        text-align: center;
        color: rgb(240, 207, 207);
        font-size: 30px;
    }
    .image-item {
        flex-basis: 20%;
        max-width: 25%;
        padding: 10px;
        font-size: x-small;
      } 