body {
    background:rgb(228, 113, 113);
    }
    .form {
    text-align: center;
    margin-top: 40px;
    max-width:420px;
    margin:50px auto;
    }
    #form1 input[type=text] {
    color:rgb(0, 0, 0);
    font-family: sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #000000;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
    }
    
    #form1 #fcontent {
    height: 100px;
    }
    #form1 input[type=submit] {
    color:rgb(255, 255, 255);
    font-family: sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: #979393;
    border:2px solid #3d2d2d;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
    }
    #form1 input[type="submit"]:hover {
    background:#000000;
    }
    h1 {
        text-align: center;
        color: rgb(0, 0, 0);
        font-size: 30px;
    }
    p {
        text-align: center;
        color: rgb(0, 0, 0);
        font-size: 30px;
    }
    .image-item {
        flex-basis: 20%;
        max-width: 25%;
        padding: 10px;
        font-size: x-small;
      } 