* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  .container {
    min-width: 1140px;
  }
  
  body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ff7272;
    
  }
  
  main {
    min-width: 1140px;
    margin-top: 76px;
  }
  /* flex-box */ 
  /* BEM CSS */
  /* TailwindCSS */
  .d-flex {
    display: flex;
  }
  
  .justify-between {
    justify-content: space-between;
  }
  
  .items-center {
    align-items: center;
  }

  .justify-center {
    justify-content: center;
  }